.page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

/*
СТИЛИЗАЦИЯ ШАПКИ
*/

header {
    height: 150px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-family: 'Julius Sans One', sans-serif;
    background: rgba(255, 255, 255, 0.2);
    background: #fff;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
    overflow: hidden;
}

.header .name {
    text-shadow: 0 0 20px 5px rgba(#000, 0.3);
    letter-spacing: 7.5px;
}

.header .name a {
    text-decoration: none;
    color: #000;
}

.header .name a:hover {
    text-decoration: none;
    color: #000;
}

.header .logo img {
    width: auto;
    height: 90px;
    margin-top: 7px;
    margin-bottom: 3px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    height: 50px;
}

nav div {
    margin: 0 50px;
    font-weight: 600
}

nav div a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 5px;
}

nav div a:hover {
    text-decoration: none;
    color: blue;
}


/*
СТИЛИЗАЦИЯ КОНТЕНТА 
ГЛАВНАЯ СТРАНИЦА
*/
.home {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100vh;
}



/*
СТИЛИЗАЦИЯ ГАЛЕРЕИ
*/

.gallery-page .gallery {
    width: 1580px;
    column-count: 5;
    column-gap: 20px;
    row-gap: 20px;
    margin: 50px auto;
}

.gallery-page .gallery .item img {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    border-radius: 5px;
}

.gallery-page .gallery .item .info {
    margin-top: 25px;
    position: absolute;
    width: 300px;
    display: none;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    text-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.gallery-page .gallery .item .info h2 {
    text-align: center;
    margin: 25px auto;
    width: 100%;
    height: auto;
    font-size: 20px;
    letter-spacing: 3px;
}

.gallery-page .gallery .item .info div {
    width: 100%;
    display: flex;
    justify-content: center;

    font-size: 12px;
    margin-bottom: 15px;
}

.gallery-page .gallery .item .info p {
    margin: 0 10px 0 0;
}

.gallery-page .category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-page .category {
    margin: 30px auto;
}

.gallery-page .category button {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: auto 10px;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #535353;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    text-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
    padding: 7px 15px 5px 15px;
}

.gallery-page .category button:hover {
    background: rgba(0, 0, 0, 0.03);
}


.modal {
    width: 90%;
    height: 90%;
    z-index: 100;
    background: #F0F0F0;
    position: fixed;
    top: 5%;
    left: 5%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

}
.modal .close {
    position: absolute;
    right: 3%;
    top: 4%;
}
.modal .close i {
    font-size: 30px; 
    opacity: 0.4;
}
.modal .close i:hover {
    opacity: 0.7;
}
.modal .next {
    margin-top: -30px;
    position: absolute;
    right: 1.5%;
    top: 50%;
}
.modal .last {
    margin-top: -30px;
    position: absolute;
    left: 1.5%;
    top: 50%;
}
.modal .last, .next i {
    font-size: 90px; 
    opacity: 0.4;
}
.modal .last i:hover, .next i:hover {
    opacity: 0.7;
    color: #000;
}
.modal img {
    margin-top:0.75%;
    width: 97%;
    height: 97%;
    border-radius: 10px;
    box-shadow: inset 0 0 25px 25px rgba(0, 0, 0, 0.5);
}
.modal .info {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 14px;
    font-weight: 700;
    max-width: 30%;
    max-height: 30%;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    margin-top: 0.75%;
    margin-left: 1.5%;
    border-radius: 10px 0 5px 0;
    padding: 5px 15px 25px 15px;
}
.modal .info  div {
    display: flex;
    justify-content: center; 
    margin-top: 10px;

}
.modal .info  div h2 {
    margin-bottom: 25px;

}
.modal .info  div p {
    margin: 0 20px 0 0;
}

/*
СТИЛИЗАЦИЯ CV
*/

.cv-page {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000;
    text-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.cv-page .cv {

    text-align: left;
    margin: 50px auto;
    width: 50%;
}

.cv-page .cv p {
    margin: 10px auto;
}
.cv-page .cv p span {
    font-weight: 700;
    color: 
}

/*
	СТИЛИЗАЦИЯ ОБО МНЕ
*/
.texts-page {
    margin: 50px auto;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
}

.texts-page article {
    margin: 0 20%;
}

.texts-page article p{
    text-indent: 50px;
    font-size: 16px;
    text-align: justify;
    line-height: 27.5px;
}
.texts-page article p b{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.texts-page article p::first-letter {
    font-weight: 700;
    font-size: 18px;
}

.texts-page article .main {
    display: flex;
    justify-content: center;
}

.texts-page article .main div {
    width: 45%;
    height: 45%;
    margin: 0 25px 25px 25px;
}
.texts-page article .main div h1{
    letter-spacing: 4px;
    text-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.texts-page article .main img {
    width: 45%;
    height: 45%;
    margin: 25px 25px 25px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

/*
	СТИЛИЗАЦИЯ НОВОСТЕЙ
*/
/*
	СТИЛИЗАЦИЯ СОНТАКТОВ
*/
.contact-page {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contact-page .leftside {
    width: 20%;
    margin-right: 5%;
    text-align: left;
    text-indent: 25px;
}

.contact-page .rightside {
    width: 20%;
    text-align: center;
    padding-top: 12.5px;
}

.contact-page .rightside form {
    width: 100%;
}

.contact-page .rightside input,
textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 14px;
    color: #0000FF;
    border: none;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.3)
}

.contact-page .rightside input:focus,
textarea:focus {
    outline: none;
}

.contact-page .rightside button {
    width: 100px;
    height: 30px;
    line-height: 29px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
    margin: 10px auto 0 auto;
}

.contact-page .success {
    display: none;
}

/*
	СТИЛИЗАЦИЯ ПОДВАЛА
	*/

footer {
    margin-top: 50px;
    position: relative;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 32px;
    background: #fff;
}

footer p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
}

footer p a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 5px;
}

footer p a:hover {
    text-decoration: none;
    color: #000000;
}

footer .soc {
    display: flex;
    margin-left: 25px;
}

footer .soc div {
    margin-left: 15px;
}

footer .soc div:hover {
    color: #535353
}

.footer-home {
    position: absolute;
    bottom: 0;
}