.page	{ 
	margin: 0;
	 padding: 0;
}

a	{ 
	text-decoration: none;
	color: #000000;
}

li	{ 
	list-style: none;
}

header {
	height: 150px;
	width: 100%;
	text-align: center;
	overflow: hidden;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding: 0 15%;
	align-items: center;
	font-weight: 600;
	font-size: 24px;
	overflow: hidden;
}
.header .logo img	{
	width: 100px;
	height: 100px;
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
	height: 50px;
	font-family: 
}
nav div {
	margin: 0 50px;
	
}
nav div a {
	text-decoration: none;
	color: #000000;
}